<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Tienda de Componentes</title>
    <!-- Enlace al archivo de estilo de Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
    <!-- Enlace al archivo de estilo personalizado -->
    {% load static %}
 
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">

</head>
<!-- Resto del código HTML sigue igual... -->

<body>

    
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'app/img/logo_pcforge.jpeg' %}" alt="PcForce" style="height: 60px; border-radius: 10px;">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" aria-current="page" href="{% url 'home' %}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'productos' %}">Productos</a>
                    </li>

                    {% if perms.app.add_producto %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'agregar_productos' %}">Agregar Productos</a>
                    </li>
                    {% endif %}

                    {% if perms.app.view_producto %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'listar_productos' %}">Listar Productos</a>
                    </li>
                    {% endif %}

                    {% if user.is_authenticated %}
                        {% if is_soporte %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'registro_admin' %}">Registro Admin</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'ver_perfil' %}">Mi Perfil</a>
                        </li>
                        {% elif is_cliente %}
                        
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'ver_carrito_armar_pc' %}">Arma Tu Pc</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'ver_carrito' %}">Carrito Componentes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'ver_wishlist' %}">Wishlist</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'ver_perfil' %}">Mi Perfil</a>
                        </li>
                        {% elif is_vendedor %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'ver_carrito_armar_pc' %}">Arma Tu Pc</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'ver_carrito' %}">Carrito Componentes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'ver_perfil' %}">Mi Perfil</a>
                        </li>
                        {% elif is_bodeguero %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'ver_perfil' %}">Mi Perfil</a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'exit' %}">Cerrar Sesion</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">iniciar Sesion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'registro' %}">¡Registrate!</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>


          <main>


        
    {% block contenido %}


   

    {% endblock %}



          </main>

          
    
<footer>
    <div class="footer text-center">
        <p>&copy; 2024 PcForge Tienda De Componentes
        </p>
    </div>

    <!-- Scripts de Bootstrap (jQuery y Popper.js son requeridos para Bootstrap) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
    {% if messages %}

    {% for m in messages %}

    <script>
      {% if messages %}
        {% for message in messages %}
          {% if message.tags == 'success' %}
            Swal.fire({
              "title": "Felicitaciones",
              "text": "{{ message }}",
              "icon": "success"
            });
          {% elif message.tags == 'warning' %}
            Swal.fire({
              "title": "Advertencia",
              "text": "{{ message }}",
              "icon": "warning"
            });
          {% endif %}
        {% endfor %}
      {% endif %}
    </script>

<script>
  {% if messages %}
    {% for message in messages %}
      {% if message.tags == 'error' %}
        Swal.fire({
          "title": "Error",
          "text": "{{ message }}",
          "icon": "error"
        });
      {% elif message.tags == 'warning' %}
        Swal.fire({
          "title": "Advertencia",
          "text": "{{ message }}",
          "icon": "warning"
        });
      {% endif %}
    {% endfor %}
  {% endif %}
</script>



    

    {% endfor %}
  
    {% endif %}


    <script>

      function eliminarProducto(id){
  
          Swal.fire({
              "title": "¿Estas seguro?",
              "text": "Esta Accion no se puede deshacer",
              "icon": "question",
              "showCancelButton":true,
              "cancelButtonText":"No, Cancelar",
              "confirmButtonText":"Si, Eliminar",
              "reverseButtons":true,
              "confirmButtonColor":"#dc3545"
          })
          .then(function(result){
            if(result.isConfirmed) {
              window.location.href = "/eliminar-productos/"+id+"/"
            }
          })
  
  
  
  
      }
  
  
  
  </script>





  


<!-- Resto de tu código HTML para mostrar el carrito y el formulario de pago -->





</footer>
</body>
</html>
