{% extends 'app/base.html' %}

{% block contenido %}
<div class="container crear_tarro">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="mb-4">Crear Tarro</h2>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Crear Tarro</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
