{% extends 'app/base.html' %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block contenido %}
    <div class="container mt-4">
        <h2 class="mb-4">Detalle del Pedido #{{ pedido.id }}</h2>
        
        <div class="card">
            <div class="card-body">
                <p><strong>Estado:</strong> {{ pedido.get_estado_display }}</p>
                <p><strong>Fecha de Creación:</strong> {{ pedido.fecha_creacion }}</p>
                <p><strong>Dirección de Entrega:</strong> {{ pedido.direccion_entrega }}</p>
                <p><strong>Cliente:</strong> {{ pedido.cliente.username }} </p>
                
                <h3 class="mt-3">Productos y Detalles:</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Producto</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Subtotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for detalle in pedido.detallepedido_set.all %}
                            <tr>
                                <td>{{ detalle.producto.nombre }}</td>
                                <td>{{ detalle.cantidad }}</td>
                               
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
               <div class="text-center">
                    <form method="post" action="{% url 'detalle_pedido_global' pedido.id %}">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <button type="submit" class="btn btn-warning">Actualizar</button>
                    
                  </form>
                  <br>
 
                <a href="{% url 'ver_pedidos' %}" class="btn btn-primary">Volver</a>

            </div>
            </div>
        </div>
    </div>
{% endblock %}
